.backstage {
    & > .section__wrapper {
        @include flex($jus: space-between);
    }

    &__exist {
        background: url(../../assets/images/bamboo-cap.png);
    }

    &__image {
        width: 52.5%;

        & > img {
            width: 100%;
        }
    }

    &__text {
        width: 40%;
    }

    &__header {
        margin-bottom: 20px;
    }

    &__subheader {
        margin: 54px 0 34px;
    }

    &__desc:last-child {
        line-height: 140%;
    }

}