.friend {
    @include flex($dir: column);
    padding: 41px 99px 59px 99px;
    background: $frosted_glass_white_color;
    backdrop-filter: blur(2px);
    border-radius: 20px;

    & .section__header {
        margin-bottom: 30px;
    }

    & .section__subheader {
        font-size: 3.6rem;
    }
}