.head {
    background-image: url(../../assets/images/GiantPanda.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & > .section__wrapper {
        padding-top: 86px;
    }

    &__motto {
        position: relative;
        top: 0;
        z-index: 2;
        width: min-content;
        margin-left: calc(50% + 90px);
        @include flex($dir: column);
        
        &::before {
            content: '';
            position: absolute;
            top: -77px;
            left: -83px;
            z-index: 0;
            width: 465px;
            height: 465px;
            border-radius: 50%;
            background: $orange;
        }
    }

    &__text {
        position: relative;
        width: min-content;
        margin: 0;
        margin-bottom: 60px;
        color: #ffffff;
        font-size: 10.65rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 75%;
    }

}